[submodule "third_party/FwdLLM"]
	path = third_party/FwdLLM
	url = https://github.com/UbiquitousLearning/FwdLLM.git
[submodule "third_party/Jenga"]
	path = third_party/Jenga
	url = https://github.com/Pairshoe/Jenga-AE.git
[submodule "third_party/VQ"]
	path = third_party/VQ
	url = file:///D:/GitRepository/Projects/FedLLM/VQ
